body {
  margin: 0;
  font-family: 'Lato Thin';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("https://images.squarespace-cdn.com/content/v1/59a8b2229f8dceb86590396c/1554321482434-MJ7ZG46YJMUCP4QUOPF5/ke17ZwdGBToddI8pDm48kCX-V5vw-8h9IBXN10-_8XN7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0p4Wyba38KfG317vYluk45_zZdtnDCZTLKcP2mivxmYi50xvY5saIGKMgOza9mH4XA/thayne+robstad+-+Hearth-80.jpg?format=2500w");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.5vw);
  -webkit-filter: blur(0.5vw);
  z-index: -1;
}

#UIbutton {
  width: 40vw;
  border-radius: 10px;
  padding: 0 1em;
  color: white;
  border-color: white;
  background-color: rgba(0,0, 0, 0.25);
  font-size: 1.2em;
}

#UIbutton:hover {
  background-color: rgba(0,0, 0, 0.5);
}

.Link {
  text-decoration: none !important;
  color: black;
}

.card {
  display: flex;
  align-items: center;
  width: 30vw;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: inline-block;
}

.dashboard-image {
  background-color: #F5F5F5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  /* background-image: url("https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-213.jpg?size=626&ext=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.5vw);
  -webkit-filter: blur(0.5vw); */
  z-index: -1;
}

.carousel {
  padding-bottom: '30px';
  position: 'relative';
}

.react-multi-carousel-item {
  width: 15vw;
  height: 15vw;
}

.carouselList {
  margin: 0 15px;
  overflow: hidden;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}
.listContent {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'Lato Thin';
  font-size: 1.5em;
  text-transform: uppercase;
}
.listContent:hover {
  background-color: rgba(100,100, 100, 0.15);
}
#paypperiodMonth{
  margin: 5px;
  min-width: 120px;
}
#monthSelect{
  width: 25vw;
}

.h1 {
  margin: 0 !important;
}